<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <!-- parameterType 의 board : resource > mybatis-config.xml 에서 typeAlias 로 설정한 것. (=여기서는 BoardDTO) -->
    <!-- 화면(html)에서 사용하는 name 값, DB 에서 사용하는 Column 이름, DTO 에서 사용하는 Field 이름은 모두 일치 시키는 게 가장 좋다. -->
    <insert id="save" parameterType="board">
        insert into board_table(boardTitle, boardWriter, boardPass, boardContents)
            values(#{boardTitle}, #{boardWriter}, #{boardPass}, #{boardContents})
    </insert>
    <select id="findAll" resultType="board">
        <!-- select 를 실행하는 경우, resultType 은 무조건 있어야하고, parameterType 은 필요하면 있고 없을 수도 있다.
         작성일자 format 을 위해 * 대신 아래처럼 작성 -->
        select id, boardTitle, boardWriter, boardHits, date_format(createdAt, "%Y-%m-%d") as createdAt
        from board_table order by id desc
    </select>
    <update id="updateHits" parameterType="Long">
        update board_table set boardHits=boardHits+1 where id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="board">
        select id, boardTitle, boardWriter, boardPass, boardContents, boardHits
        , date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt
        from board_table where id=#{id}
    </select>
    <update id="update">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>
    <delete id="delete" parameterType="Long">
        delete from board_table where id=#{id}
    </delete>
</mapper>